# If Requirements are not installing, use New Interprener.

# Generate Fake User-info:
Faker==19.11.0

# Read web_json files:
# requests==2.31.0

# Read web_csv files:
# pandas==2.0.3

# Pre-commit hook:
pre-commit==3.5.0

# Check codestyle:
flake8==6.1.0

# Formatter. Apply codestyle:
black==23.10.0

# A tool (and pre-commit hook) to automatically upgrade syntax for newer versions of the language:
pyupgrade==3.15.0

# Remove unused imports & variables:
autoflake==2.2.1

# Django Lib:
django==4.2.6

# Library for templates creation:
Jinja2==3.1.2
