# If Requirements are not installing, use New Interprener.

# Generate Fake User-info:
Faker==19.6.2

# Read web_json files:
# requests==2.31.0

# Read web_csv files:
# pandas==2.0.3

# Pre-commit hook:
pre-commit==3.4.0

# Check codestyle:
flake8==6.1.0

# Formatter. Apply codestyle:
black==23.9.1

# A tool (and pre-commit hook) to automatically upgrade syntax for newer versions of the language:
pyupgrade==3.13.0

# Remove unused imports & variables:
autoflake==2.2.1

# Django Lib:
django==4.2.5
